flask
langgraph
langchain
langchain-community
openai
faiss-cpu
sentence-transformers
pdfplumber
opencv-python-headless
pdf2image
python-dotenv
numpy
sentencepiece
thefuzz
python-dateutil
PyMuPDF
Pillow